# PyCharm
.idea/

# Environment files
.env
*.env

# Virtual Environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log 